<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Page 1</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="page1.css">
</head>
<body>
	<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#topFixedNavbar1" aria-expanded="false">
		  <span class="sr-only">Toggle navigation</span>
		  <span class="icon-bar"></span>
		  <span class="icon-bar"></span>
		  <span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="#">
		  <img src="file:///C:/Users/WRATH/Documents/Unnamed%20Site%202/SIH_2019_LOGO_final.png" height = "35px"></a></div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="topFixedNavbar1">
	  <ul class="nav navbar-nav navbar-left centre-block">
				<li>
				  <h4>Incosisitency Detection in Medical Annotation</h4>
				</li></ul>
     
	  </div>
		</div>
</nav>
	<div class="text-center jumbotron">
	<button type="button" name="submit" class="hoverable-css increased_font"><span class="anim"></span><i class="fa fa-search"></i></button>
	<button type="button" name="submit" class="hoverable-css increased_font"><span class="anim"></span><i class="fa fa-list"></i></button>
	</div>
</body>
</html>