{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compitable" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css?family=Bellefair|Lobster|Roboto+Slab|Timmana" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<title>Inconsistencies</title>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet"  href={% static "CSS/style.css" %}>
	<link rel="shortcut icon" type="image/png" href={% static "Images/FavIcon.png" %}>
</head>
<body>
	<div class="header">
  		<a href="#" class="logo">Inconsistencies in Medical Annotations</a>
  		<div class="header-right">
    		<a  data-toggle="modal" data-target="#myModal" href="#">Inconsistency Stats</a>
  		</div>
	</div>
	<center>
	<div class="main">
		<div class="jumbotron" >
			<a href="{% url "back" %}"><i class="fas fa-home" style="font-size:24px" ></i>Go Back</a>
		<div class="container-fluid" style="margin-top:150px;">
			
			<div class="col-xs-6">
				<h2>Search by word</h2>
			<form action="{% url "search_by_word" %}" method="post" id="word-form">
				{% csrf_token %}
				<input class="form-group" type="text" name="search">
				<button class="btn btn-primary"> Search </button>
			</form>
		</div>
		<div class="col-xs-6">
			<h2>Search by annotations</h2>
			<form action="{% url "search_by_annot" %}" method="post" id="annot-form">
				{% csrf_token %}
				<input class="form-group" type="text" name="search">
				<button class="btn btn-primary"> Search </button>
			</form>
		</div>
		</div>
	</div>
	</div>
</center>
	<div class="container" style="border:2px solid black">
		<strong><h2>Sentences<span style="float:right"> {{count}} </span> </h2><hr></strong>
		{% with 1 as counts %}
		{% for line in lines %}
			<p>{{ counts }} ) {{line|safe}}</p>
			{% increment counts %}
		{% endfor %}
		{% endwith %}
	</div>
</body>
</html>